/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import 'tailwindcss';

:root {
  color-scheme: dark light;
}

* {
  box-sizing: border-box;
}

html {
  container-type: inline-size;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  line-height: 1.7;

  background: oklch(0.13 0.01 240);

  @apply text-slate-400;
}

a {
  transition:
    color 0.3s,
    background-color 0.2s;
}
