---
import HeaderLink from './HeaderLink.astro'
---

<header>
  <nav class="flex justify-center p-4">
    <ul class="flex space-x-4">
      <li>
        <HeaderLink href="/">Home</HeaderLink>
      </li>
    </ul>
  </nav>
</header>
