---
import { ClientRouter } from 'astro:transitions'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>

  <body>
    <slot />
  </body>
</html>
